$light-grey: #929292;

$light-grey-2: #f6f6f6;
$light-grey-3: #f6f6f6;

$dark-grey: #222222;

$dark-grey-2: #5A5A5A;
$light-dark-grey: #5A5A5A;

$line-grey: #e7e7e7;
$line-grey-2: #e7e7e7;
$line-grey-3: #E7E7E7;
$line-grey-4: #e7e7e7;
$line-grey-5: #e7e7e7;
