$light-grey: #939393;
$light-grey-2: #F7F7F7;
$light-grey-3: #F0F0F0;
$dark-grey: #2C2C2C;
$dark-grey-2: #5A5A5A;
$light-dark-grey: #484848;
$line-grey: #DADADA;
$line-grey-2: #E4E4E4;
$line-grey-3: #E7E7E7;
$line-grey-4: #EFEFEF;