#container{
	position:relative;
	
	max-width:1280px;
	margin:auto;
}
#content{
}
#file-manager{
	position:absolute;
	top:0;
	right:25px;
	cursor:pointer;
}

#file-manager:hover{
	text-decoration: underline;
}
#container.file-manager-on{
	left:0;
	top:0;
	height:100vh;
	width:50vw;
	overflow:auto;
	resize: both;
		max-width:999999px;
	margin:0;
}
#file-manager-iframe{
	  resize: both;

	overflow:auto;
	position:fixed;
	right:0;
	top:0;
	height:100vh;
	width:50vw;
	border:none;
}


.admin-photo{
	max-height:100px;
}
#TextContent{
	width:100%;
	height:400px;
	font-size:1.5em;
}
.display-none{
	display:none;
}
