

/* tablet */
/* tablet */
/* tablet */
@media only screen and (min-width : 0px) and (max-width : $tablet-max-width)  {



	/* typography */

	body {
		font-size: $defaulttype - 2;
		&.map {
			background-image: linear-gradient(0deg,#56e7b5,#87b7b3 98%);
			#worldmap {
				display: none;
			}
		}
	}

	h1#site-title {
		font-size: 16px !important;
	}
	body.map {
			h1#site-title {
				display: none;
			}
	}

	h1, .h1{
		font-size:10vw;
		padding-top:1em;
	}

	body[class^='cities_view_'] {
		.h1, h1 {
			padding-top:0 !important;
		}
	}

	.about .page-header {

		font-size: 36px;
		line-height: 43px;
		letter-spacing: 0.19px;
	}
	.about p,
	body.methodology h3, body.methodology p, body.metodologia h3, body.metodologia p {
		font-size:18px;
		line-height:25px;
		letter-spacing: 0.14px;

	}

	#cityList {
		padding-top: 32px;
	}

	.cityHeader {
		.countryNameRow .flag img {
			margin-right:6px;
			padding:0;
			width:25px !important;
		}	
		.citySummaryTable .statValue {
			font-size:($defaulttype * 2 + 8) * .60;
		}
		.cityRegionTable {
			margin:12px 0 15px 0;
			border: 0px solid rgba(255,255,255,0.7);
		}
		.countryNameRow, .regionMenu {
			border:none;
			font-size:$defaulttype - 4;
			width:auto;
		}
		.regionMenu {
			padding:0;
		}
	}

	.graphSection {
		padding-bottom: 60px;
	} 

	.grid {
		padding:0;
	}

	.cityNav {
		position:absolute;
		bottom:10px;
		li::after { 
			line-height: 20px;
		}
		ul {
			margin-right:20px;
			float: left;
			margin-bottom: 10px;
		}
		li {
			list-style-type:none;
			margin:0;
		}
		a {
			color:#fff;
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
			font-size:$defaulttype - 4;
			text-transform: uppercase;
			padding: 0px;
			border: 0px solid rgba(255,255,255,.5);
			cursor: pointer;
		}
		a:hover {
			background:rgba(0,0,0,0.7);
		}
	}


	.sectionDownload{
		text-align: left;
	}

	.city-graphic{
		-webkit-tap-highlight-color: rgba(0,0,0,0);
	}
	.mobile-map-cover{
		position:absolute;
		top: 0px;
		left:0px;
		right:0px;
		bottom:0px;
		width:100%;
		height:100%;
		background-color: rgba(255,255,255,0.3);
		z-index:1001;
		&.clicked-map{
			display:none;
		}
	}

	.menu-icon{
		line-height:0px;
		&::before{
			position:relative;
			content: "";
			display:inline-block;
			margin: 8px 0px;
			margin-left: $mobile-padding;
			width:20px;
			height:20px;
			background-size: contain;
			background-repeat: no-repeat;
			cursor: pointer;
		}
	}



	.sectionHeader {
		padding:.5em 0 7px 0;
	}

	#cityList {
		h3 {
			font-size: 16px;
			padding: 10px 0 10px 0;
			text-transform: none;
		}
		ul.list{
			columns: 1;
		}
		@for $i from 0 to 10{
			&.region-#{$i} > ul > .region-#{$i} .city{
				display:block;
			}
		}

	}


	/* historical */
	.historical{
		video{
			width:100%;

			height: calc(#{100 * 0.5625}vw - 0px);
		}
	}
	footer{
		position:relative;
	}

	footer {
		.logo_block {
			width:100%;
		}
		img {
			width:20%;
		}
		.bottom-links {
			font-size:12px;
			position: relative;
		}
	}

}
@media only screen and (min-width : 0px) and (max-width : $tablet-max-width) and (orientation : portrait) {

}
@media only screen and (min-width : 0px) and (max-width : $tablet-max-width) and (orientation : landscape) {

}






/* mobile */
/* mobile */
/* mobile */
@media only screen and (min-width : 0px) and (max-width : $mobile-max-width)  {
	.hide-on-desktop{
		display:block;
	}
	th.hide-on-desktop,
	td.hide-on-desktop{
		display: table-cell;
	}
	.hide-on-mobile{
		display:none;
	}
	body{
	}

	body{
		padding-top: 40px;
		padding-bottom:0px;
	}


	.sectionSubHeader{
		margin:.5em 0px;
	}

	.map-legend-sections{
		margin:10px 0px;
	}
	.city-map{
		margin-bottom:20px;
		margin-top:20px;
	}
	.years{
		position:relative;
		margin-bottom:20px;
	}
	.city-graphic{
		margin-bottom:32px;
	}
	.legend-ul{
		margin-top:0px;
		margin-bottom:20px;
	}
	.year-switch-graphic{
		margin-bottom: 0px;
	}
	#worldmap{
		margin:0px 25px;
		width: calc(100% - 50px);
		svg g path{
			stroke: #666;
		}
	}
	.logos {
		display:none;
	}
	.cityHeader {
		.statLabel {
			font-size:11px;
		}
		.statValue {
			font-size:32px;
		}
	}
	.cityNav {
		position:relative;
		bottom:0px;
		li {
			float:none;
		}
	}
	.navLabels{
		display:block;
	}
	#data-table{

	}
}
@media only screen and (min-width : 0px) and (max-width : $mobile-max-width) and (orientation : portrait) {

}
@media only screen and (min-width : 0px) and (max-width : $mobile-max-width) and (orientation : landscape) {

}
