$max-width : 1080px;
$max-width-wide : 1920px;
$padding : 40px;
$padding-top : 2em;
$city-padding: 12px;
$mobile-padding : 20px;
$mobile-max-width : 768px;
$tablet-min-width : 768px;
$tablet-max-width : 950px;

/*type color variables */

$headerbgcolor : transparent;
$headercolor : #ffffff;
$linkcolor : #FF6653;
$lightgrey0 : #666666;
$lightgrey : #333333;
$lightgrey1 : #929292;
$lightgrey2 : #F0F0F0;
$lightgrey3 :  #F7F7F7;
$bodytype : #222222;

$line-grey: #e7e7e7;


/*border color variables */


$border-lightgrey : #d6d6d6;
$border-darkgrey : #333333;

/*type size variables */

$defaulttype : 16px;

$light-grey: #929292;

$light-grey-2: #f6f6f6;
$light-grey-3: #f6f6f6;

$dark-grey: #222222;

$dark-grey-2: #5A5A5A;
$light-dark-grey: #5A5A5A;

$line-grey: #e7e7e7;
$line-grey-2: #e7e7e7;
$line-grey-3: #E7E7E7;
$line-grey-4: #e7e7e7;
$line-grey-5: #e7e7e7;
