$max-width : 1080px;
$max-width-wide : 1920px;
$padding : 15px;
$padding-top : 2em;
$mobile-padding : 20px;
$mobile-max-width : 768px;
$tablet-min-width : 768px;
$tablet-max-width : 950px;

/*type color variables */

$headerbgcolor : transparent;
$headercolor : #ffffff;
$linkcolor : #FF6653;
$lightgrey0 : #666666;
$lightgrey : #333333;
$lightgrey1 : #929292;
$lightgrey2 : #F0F0F0;
$lightgrey3 :  #f5f5f5;
$bodytype : #5a5a5a;

/*border color variables */


$border-lightgrey : #d6d6d6;
$border-darkgrey : #333333;

/*type size variables */

$defaulttype : 16px;
/* 	default -4
	default * 2
	default * 2 + 8
	default * 5
*/

@import "functions";
@import "grid";
@import "tooltips";
// @import "mapbox";
// @import "tiny-autocomplete";


@font-face {
	font-family: 'DINNextLTProUltraLight';
	src: url('/fonts/DINNextLTPro-UltraLight.eot');
	src: url('/fonts/DINNextLTPro-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINNextLTPro-UltraLight.woff') format('woff'),
		url('/fonts/DINNextLTPro-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'NeueHaasRegularTX';
	src: url('/fonts/NHaasGroteskTXPro-55Rg.eot');
	src: url('/fonts/NeueHaasUnicaPro-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/NHaasGroteskTXPro-55Rg.woff') format('woff'),
		url('/fonts/NHaasGroteskTXPro-55Rg.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


// @import "plottable";
//@import "chartist";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, 
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: bottom;
}
table tbody > * {
	vertical-align:top;
}
h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
	margin: 0;
	padding: 0;
	line-height:1.1 !important;
}
p {
	padding-bottom: 1em;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body{
	background-image: linear-gradient(to bottom, rgba(245,245,245,1.0), rgba(218,218,218,1.0));
	color: $bodytype;
	font-family: "NeueHaasRegularTX", Helvetica, sans-serif;
	line-height:1.5;
	min-height:100vh;
	opacity:1 !important;
	padding-top:54px;
	padding-bottom:377px;
	position:relative;
	@include xPrefix(transition, opacity 1s ease);
	.maploader{
		display: none;
		@include xPrefix(transition, all 1s ease);
		position:fixed;
			bottom: 10px;
			right: 10px;
			width:0px;
			height:0px;
			background-image: url("/img/loader.svg");
			background-size: contain;
			background-repeat: no-repeat;
	}
	&.mapsLoading{
		.maploader{
			width:50px;
			height:50px;
		}
	}
}
*{
	box-sizing: border-box;
}
p {
	line-height:1.375;
}
a {
	color:$bodytype;
	text-decoration: none;
}
.no-file{
	display:none;
	text-decoration: line-through !important;
	cursor: default;
}
.no-scroll{
	overflow: hidden;
}
.center-align{
	text-align:center;
}
.align-right {
	text-align: right;
}
.position-relative{
	position:relative;
}
.loader{
	width:1px; 
	height:1px; 
	opacity:0; 
	position:absolute;
}
.display-none{
	display:none;
}
.text-align-center{
	text-align: center;
}
.text-align-right{
	text-align:right;
}
.hide-on-desktop{
	display:none;
}

body[class^='cities_view_'] {
	padding-bottom: 317px !important;
	.header a {
	color:#fff!important;
}
	.headroom--not-top a, .headroom--not-top #site-title a {
	color:#808080!important;
}	
.headroom--not-top a:hover, .headroom--not-top #site-title a:hover {
	color:$linkcolor!important;
}	

	.header {
	border-bottom:1px solid rgba(255,255,255,.7);	
}
	header.headroom--not-top {
	border-bottom:1px solid rgba(0,0,0,0.2);	
}
}

body[class^='cities_view_'] #site-title a {
	color:#fff!important;
}

body .header a {
	color:#808080;
}

body.about, body.cities, body.data, body.historical_data {
	 .header a {
	color:#808080;
}
}


.header {
	@include xPrefix(transition, transform 500ms ease);
	&.headroom--unpinned:not(.poppedUp){
		@include xPrefix(transform, translateY(-100%) );
		nav.navOpen .nav-holder a{
			display:none;
		}
	}
	&.headroom--pinned:not(.poppedUp){
		@include xPrefix(transform, translateY(0%) );
	}
	&.headroom--not-top {
		background-color:#f5f5f5;
		}
	display:inline-block;
	display: flex;
	// justify-content : flex-start;
	.nav-holder {
		margin:0 0 0 20px;
	}
	#site-title{
		display:inline-block;
		font-family: "NeueHaasRegularTX", Helvetica, Arial, sans-serif;
		a {
			color:#000 !important;
		}
		h1{
			display: inline-block;
		}
	}
	nav{
		display:inline-block;
		flex: 1;
		order: 2;
		a{
			margin: 0 0 0 25px;
		}
		a:hover {
			color:$linkcolor;
		}
	}
	#citySearch{
		display:inline-block;
		float:right;
		order: 3;
		margin-left: auto;
		// align-self: flex-end;
	}

	font-size:16px;
	padding: 15px 30px 15px 30px;
	position: fixed;
	top:0px;
	width:100%;
/*	background-color: rgba(255,255,255,0.0);*/
/* 	border-bottom: 1px solid $lightgrey; */
	z-index:9999;
	a {
		color: $headercolor;
	}
}

footer {
	/* box-shadow: 10px 10px 5px #888888; */
	font-size:14px;
	background-color: #fff;
	position:absolute;
	height:320px;
	bottom:0;
	left:0px;
	padding:1em 0 .25em 0;
	width:100%;
	.grid:nth-child(2) {
		padding-bottom: 12px !important;
	}
	p {
		padding-right:10px;
	}
	a {
		color:$lightgrey1;
		cursor: pointer;
		text-decoration: none;
	}
	img {
		max-width:100%;
		padding-bottom: 15px;
	}
	ul li {
		float:left;
		padding-right:25px;
	}
	.bottom-links {
		border-top:1px solid rgba(0,0,0,0.1);
		color:$lightgrey1;
		padding-top:10px;
		position: absolute;
		bottom:4px;
		a {
		color:$lightgrey1;
		opacity:.5;
		}	
	}
	.quiet {
		opacity:.5;
	}
	h3 {
		text-transform: uppercase;
	}
	
}

.logo_block img {
	margin:0 0 0 20px;
	opacity: .5;
}



.countryNameRow, .regionMenu {
	position: relative;
	display:block;
	font-family: "DINNextLTProUltraLight", "Helvetica Neue Light", Helvetica, sans-serif;
	font-size: $defaulttype;
	padding:3px 15px 3px 4px;
	width:100%;
}
h2.countryName {
	border-top:1px solid #ccc;
}



.cityNav {
	position:absolute;
	bottom:10px;
	ul {
	float: left;
	margin: 0 50px 10px 0;
	}
	li {
	list-style-type:none;
	}
	li::after { 
	content: "\203A";
    font-size: 22px;
    line-height: 25px;
    margin-left: 4px;
    opacity:0.7;
    position: absolute;
    text-decoration: none;
	}
	a {
	color:#fff;	
	cursor: pointer;
	font-size:$defaulttype - 4;
	opacity:0.7;
	text-transform: uppercase;
	}
	a:hover {
	opacity:1.0;
	}
}

.cityNavHeader {
	font-size:$defaulttype - 4;
	letter-spacing:1.2px;
	text-transform: uppercase;
}
	


table th{
	cursor: pointer;
}

.h1{
	font-size:$defaulttype * 5;
	line-height: 1.1;
	color:#fff;
}

h1 {
	font-size:$defaulttype * 5;
	line-height: 1.1;
	padding: .5em 0 1em 0;
	
}
	

h1#site-title {
	font-size:18px;
	font-weight: normal;
	padding:0;
	position:relative;
	letter-spacing: .8px;
	text-transform: uppercase;
	z-index:1;
}

.h2{
	font-family:"DINNextLTProUltraLight", "Helvetica Neue Light", Helvetica, Arial, sans-serif;
	font-size:$defaulttype * 2;
}

.cityHeader{
	background-color: $border-darkgrey;
	margin-top:-65px;
	padding-top:80px;
	position:relative;
	min-height:calc(100vh);
	color:#fff;

	.header-bg{
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		background-position: center center;
		background-size:cover;
		background-repeat: no-repeat;
		// @include xPrefix(transition, -o-filter 1000 ease);
		// @include xPrefix(transition, -moz-filter 1000 ease);
		// @include xPrefix(transition, -webkit-filter 1000 ease);
		// @include xPrefix(transition, filter 1000 ease);
		// transition: 2s -webkit-filter linear;

		/* &.lazyimg{
			@include xPrefix(filter, blur(5px));	
		} */

		&::before{
			content : "";
			position:absolute;
			top:0px;
			left:0px;
			width:100%;
			height:100%;
			background: linear-gradient(rgba(0,0,0,0.2),rgba(0,0,0,0.8));	
		}
	}
	.countryNameRow{
		border-bottom: 1px solid rgba(255,255,255,0.7);
		> *{
			display: inline-block;
		}
		.flag {
			img{
				margin-right:7px;
				width:40px;
			}
		}	
	}
	.citySummaryTable {
		font-size:$defaulttype * 2 + 8;
		font-family:"DINNextLTProUltraLight", "Helvetica Neue Light", Helvetica, sans-serif;
	}
	
	.cityRegionTable {
		border: 1px solid rgba(255,255,255,0.5);
		display: inline-block;
		margin: 17px 0 30px 0;
	}

	.statLabel {
		font-family: "NeueHaasRegularTX", Helvetica, Arial, sans-serif;
		font-size:$defaulttype - 4;	
		text-transform: uppercase;
	}
	.statValue {
		color:rgba(255,255,255,.8);
		line-height: 1.1;
		margin: 0 0 16px 0;	
	}
	.units {
		display:inline-block;
		font-size: $defaulttype - 4;
		padding-left: 3px;
		vertical-align: top;
	}
}

.anchorPoint{
	position:relative;
	top:-85px;
}
.keyword-word{
	display: inline;
	font-weight: bold;
	text-decoration: underline;
	color:$linkcolor;
	cursor: pointer;
	.keyword-popup{
		display:none;
	}
	&:hover .keyword-popup{
		width:300px;
	    // bottom: 0px;
	    // left: 50%;
	    // margin-left:-50px;
		font-weight: normal;
	    // @include xPrefix(transform,  translateX(-50%));
	    display: block;
	    position: absolute;
		.leaflet-popup-content-wrapper{
			background: #fff;
		    border-radius: 3px;
		    box-shadow: 0 1px 2px rgba(0,0,0,.1);
			background-color: rgba(255,255,255,0.9);
		    color: #333333;
		    padding: 1px;
		    text-align: left;
		    pointer-events: all;
		    .leaflet-popup-content{
		    	padding: 5px 5px 0 5px;
		    	margin: 0;
			    line-height: inherit;
			    p{
		    	    font-size: 15px;
				    line-height: 20px;
				    margin: 0 0 10px;
			    	margin-bottom: 2px !important;
			    	padding-bottom: 2px !important;

			    }
		    }
		}
		.leaflet-popup-tip-container{
			width: 20px;
		    height: 20px;
		    margin: 0 auto;
		    position: relative;
		    .leaflet-popup-tip{
					width: 0;
				height: 0;
				margin: 0;
				border-left: 10px solid transparent;
				border-right: 10px solid transparent;
				border-top: 10px solid #fff;
				box-shadow: none;
		    	border-top: 10px solid rgba(255,255,255,0.9);
		    }
		}
	}
}

.cityImage img {
	width:100%;
}

.graphSection {
	padding-bottom:120px;
}

.graphMainContainer {
	background-color: $lightgrey3;
}
.header-underline{
	border-bottom: 1px dotted $lightgrey1;
}

.sectionHeader {
	font-size: 18px;
	text-transform: uppercase;
	line-height: 1.375;
	letter-spacing: 1px;
	padding:2em 0 7px 0;
	text-align: left;
}
.sectionDownload {
	line-height: 1.375;
	padding:37px 0 7px 0;
	font-size:$defaulttype;
	text-align:right;
	a {
		color:$linkcolor;	
	}
}


.sectionSubHeader {
	margin-bottom: .5em;
}

h3.sectionSubHeader {
	font-size:$defaulttype * 2;
	font-family: "NeueHaasRegularTX", "DINNextLTProUltraLight", "Helvetica Neue Light", Helvetica, sans-serif;
}

.graphSection p {
	font-family: "Times New Roman", Times, serif;
	font-size: 16px;
	color:$lightgrey1;
}
.switchYear{
	cursor: pointer;
	&.activeYear{
		background-color: #999999;
		color:#fff;
	}
}
.years {
	left:50px;
	margin-top:10px;
	position:absolute;
	font-size: 16px;
}
.years span{
	background-color: #e4e4e4;
	font-family: "DINNextLTProUltraLight", "Helvetica Neue Light", Helvetica, sans-serif;
	padding: 5px 10px 3px;
}
.legend-ul{
	font-family: "Helvetica Neue Light", Helvetica, sans-serif;
	padding-left:20px;
	margin-top:32px;
	li{
		font-size:12px;
		position:relative;
	}
	.legend-click{
		display:inline-block;
	    width: 10px;
	    height: 10px;
	    margin: 0 5px;
	    position: absolute;
	    left: -20px;
	    margin-top: -7px;
	    top: 50%;
	}
	
}
.city-map{
	height:600px;
	background-color: #b1b1b1 !important;
	// background-image: url("/img/loader.svg") !important;
	// background-position:center center !important;
	// background-repeat: no-repeat !important;
	// background-size:120px !important;
	.leaflet-container{

	}
}
.map-legend-years{
	font-family: "DINNextLTProUltraLight", "Helvetica Neue Light", Helvetica, sans-serif;
	margin-top:15px;
	li{
		display: inline-block;
		&:first-child label {
		border-left: 1px solid #DADADA;
		}
		label{
			border-bottom: 1px solid #DADADA;
			border-top: 1px solid #DADADA;
			border-right: 1px solid #DADADA;
			color: #848282;
			padding:5px 10px 3px;	
			cursor: pointer;
			&:hover, &.current-year{
				background-color: #DADADA;
			}
			&.current-year {
				background-color: #999999;
				border: 1px solid #999999;
				color: #fff;
			}
			input{
				display:none;
			}
		}
	}
}
.map-legend-sections{
	font-family: "DINNextLTProUltraLight", "Helvetica Neue Light", Helvetica, sans-serif;
	font-size: 14px;
	margin-top:10px;
	u {
		font-family: "NeueHaasRegularTX", Helvetica, Arial, sans-serif;
		text-decoration: none;
	}
	li{

		label{		
			padding:2.5px 10px 2.5px;	
			margin:2.5px 0px 2.5px -10px;
			cursor: pointer;
			display:block;
			&:hover{
				background-color: #DADADA;
			}
			input{
				display:none;
				display:inline-block;
				&:checked + span{
					background-image: url("/img/menu.png");
					background-position:center center;
					background-repeat:no-repeat;
					background-size: contain;
				}
			}
			span{
				border: 1px solid #AFAFAF;
				background-color: #DADADA;
				width: 15px;
				display: inline-block;
				display: none;
				height: 15px;
				margin-right: 10px;
				line-height: 24px;
				vertical-align: middle;
				margin-bottom: 3px;
			}
		}
	}
}
.color-key {
		float:right;
		height:20px;
		width:20px;
	}
.year-switch-graphic{
	margin-bottom:32px;
}
.city-graphic{

	// padding-right:100px;
	// &.no-legend{
	// 	padding-right:0px;
	// }
	// position:relative;
	// background-color: $lightgrey;
	// padding:20px;
	// min-height:450px;
	// ul{
	// 	position: absolute;
	// 	z-index: 5;
	// 	right: 35px;
	// 	top: 10px;
	// 	padding: 5px;
	// 	background-color: white;
	// }
}





#density_change-plottable{
	width: 100%;
	height:500px;
}
#density_change-plotly{
	width:600px;
	height:500px;
}
.holder{
	#density_change-chartjs{
		width:100%;
		height:500px;
	}
}

#density_change-chartist{
	.ct-bar{
		stroke-width : 50px;
	}
}

#worldmap{
	// position:absolute;
	// top:64px;
	// bottom:0;
	// left:0;
	height:100vh;
	width:100%;

	
	svg g path{
		stroke: transparent;
		stroke-width:10px;
	}
	

}
.leaflet-control-attribution{
	// display:none;
}
.map-placeholder {
	width:100%;
	background-color:#292929;
	}
	
#worldmap .leaflet-popup-pane .leaflet-popup-content-wrapper {
	background-color:rgba(255,255,255,.8);
	color:#333333;
	a {
	color:#333333;
	font-size:13px !important;
	}
	a:hover {
	color:$linkcolor;
	}
} 

#worldmap .leaflet-popup-close-button+.leaflet-popup-content-wrapper .leaflet-popup-content {
	padding: 5px 5px 0 5px;
}

#worldmap .leaflet-popup-close-button {
	display: none;
}

#worldmap > div.leaflet-map-pane > div.leaflet-objects-pane > div.leaflet-popup-pane > div > div.leaflet-popup-content-wrapper > div > p {
	margin-bottom: 2px !important;
	padding-bottom: 2px !important;	
}

#worldmap .leaflet-popup-tip-container .leaflet-popup-tip {
	border-top:10px solid rgba(255,255,255,.8);
}	

.table-label {
	padding-right:30px;
}

.tableSmallText {
	font-size:$defaulttype;
}


/* Search */

#citySearch input:focus{
    outline: none;
}
#citySearch:not(.poppedUp){
	 input#search{
	  width: 50%;
	  border: none;
	  font-size: $defaulttype;
	  text-align:right;
	  background-color: $headerbgcolor;
	}
	*::placeholder {
	color:#808080;
	}
}

#citySearch{
	color:$bodytype;
	text-align:right;
	position:relative;
	a {
	color:$bodytype !important;
	}	
	ul{
		background-image: linear-gradient(to bottom, rgba(245,245,245,1.0), rgba(218,218,218,1.0));		
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		overflow:auto;
		margin-top:9.9em;
	    text-align: left;
	    li{
	    	padding: #{$padding/2};
	    	padding-left:30px;

		    .popup-city-city{
		    	display:inline-block;
		    	font-size:$defaulttype * 2;
		    }
	    	.popup-city-li{
	    		line-height:40px;
			    img{
			    	height:32px;
			    	display: inline;
			    	vertical-align: middle;
			    }
	    	}
	    	.popup-city-region {
		     color:$lightgrey1;
		     }
	    }
	    li:hover{
	    	background-color:rgba(0,0,0,0.1);
	    }
	}
}
#citySearch .closeHolder{
	position:fixed;
	top: #{$padding/2};
	right: #{$padding/2};
	display:none;
}



#citySearch .closeCitySearch{
	width: 30px;
	height:30px;
	cursor: pointer;
	position: relative;
	overflow: hidden;

	// @include xPrefix(transform, scale(3));

	&:hover {
		&::before, &::after {
			background: grey;
		}
	}
	&::before, &::after {
		content: '';
		position: absolute;
		height: 2px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: #000;
	}
	&::before {
		@include xPrefix(transform, rotate(45deg));
	}
	&::after {
		@include xPrefix(transform, rotate(-45deg));
	}
}
.leaflet-bottom, .leaflet-top{

}

#citySearch.poppedUp{
	z-index:3;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255,255,255,0.8);
    .closeHolder{
    	display:block;
    }
    .search-container {
		background-color: #fff;
		float:left;
		padding: 0 0 10px 30px;
		width: 100%;
		}
    input{
    	border:none;
    	border-bottom: 1px solid #000;
    	color:#000;
    	padding:3em #{$padding/2} 10px 0px;
    	float:left;
    	width:75%;
    	font-size:32px;
    	background-color:white;
    }
    *::placeholder {
	color:$bodytype;
	}
}

#citySearch:not(.poppedUp) ul,
#citySearch.unlisted ul{
	display:none;
}



/* Data Page */

.data {
	a.download-link {
	/*background-image:url('/img/download-512.png');
	background-position: right center;
	background-repeat: no-repeat;
	background-size:20px;
	padding-right:25px;*/
	color: $linkcolor;
	font-size:14px;
	}
	a:hover {
	color:$linkcolor;
	text-decoration: underline;
	}
	.download-size {
	font-size:14px;
	}
	.expansion-links a {
	color:$linkcolor;
	display: block;
	padding-right:3px;
	text-decoration: underline;
	}
	.download-desc {
		color:$lightgrey1;
		font-size:14px;
	}
	h4 {
		color:$bodytype;
		padding-bottom: .25em;
	}
	.atlas-downloads {
	color:#808080;
	font-size:14px;
	}
}


.data-page-text, .data {
	a {
		color:$linkcolor;
	}
}
.hide-on-desktop .expansion-links{
	position:absolute;
    right: 0px;
    text-align: right;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
}
#data-table{
	th {
		font-family: Helvetica, sans-serif;
		font-size: 12px;
		font-weight: normal;
		text-transform: uppercase;
	}
	th:nth-of-type(0),
	th:nth-of-type(1){
		width: 30%;
	}
	th:nth-of-type(2),
	th:nth-of-type(3),
	th:nth-of-type(4){
		width:18%;
	}
	th:last-of-type{
		width:30%;
	}
	.page-holder{
		display: inline-block;
		.pagination{
			display:inline-block;
			li{
				margin:10px;
				display:inline-block;
				&.active{
					text-decoration: underline;
				}
			}
		}
	}
	.per-page{
		display:inline-block;
		line-height:44px;
		float:right;
		select{
			border:none;
			background-color:transparent;
		}
	}
	input.search {
	margin-bottom: 1em;
	padding:6px 8px;
	width:225px;
	} 
	input.search[type="text"] {
	font-size: $bodytype;
	}
}
.show-links{
	cursor: pointer;
	position:relative;
	&::after{
		content: "";
	    width: 0px;
	    height: 0px;
	    top: 50%;
	    margin-top: -5px;
	    margin-left: 5px;
	    position: absolute;
	    border-top: 5px solid transparent;
	    border-bottom: 5px solid transparent;
	    border-left: 5px solid black;
	    @include xPrefix(transition, 500ms all ease);
	}
	&.showing-link::after{
		@include xPrefix(transform, rotate(90DEG));
	}
}

.data-table {
	width:100%;
	tr{
		position:relative;
	}
}

.data-table th, .data-table td {
	padding:5px 15px 20px 2px;
	border-bottom: 1px solid $border-lightgrey;
	text-align: left;
}


/* historical */
.historical{
	video{
		width:100%;
		height:320px;
	    height: calc(40vw - 25px);
	    max-height: 412.25px;

	    height: calc(#{40 * 0.5625}vw - 20px);
	    max-height: #{(($max-width-wide * .4) - 30)* 0.5625 };
	}
}



/* Index */
#cityList {
	padding-top:$padding-top;
	padding-bottom: 100px;

	.city:hover {
		background-color:$lightgrey3;
	}
	ul.list{
		vertical-align: top;
		display:inline-block;
		list-style-type: none;
		// @include xPrefix(columns, 3);
	}
	ul > div:first-of-type h3{
		padding-top:0px;
	}
	h3 {
		font-size: $defaulttype - 4;
		letter-spacing: .8px;
		text-transform: uppercase;
		padding: 25px 0 10px 0;
	}
	a:hover {
		color:$linkcolor;
	}
	.country-name, .country-dash {
		color:#cccccc;
	}
}

@for $i from 1 through 8{
	.region-#{$i} .region{
		display:block;
	}
	.region-#{$i} ~ .region-#{$i} .region{
		display:none;
	}
}
	
/* About Page */

.about, .historical, .data-page-text {
	font-family: "NeueHaasRegularTX", Helvetica, Arial, sans-serif !important;
	padding-top:$padding-top;
	h1, h2, h3 {
	font-family: "NeueHaasRegularTX", Helvetica, Arial, sans-serif !important;
}
}

.about {
	.grid.about img {
	float:left;
	margin:0 10px 6px 0;
	filter: grayscale(100%);
	opacity:0.8;
	width:180px;
	}
	.about-text {
	}
	h3 {
	font-size: 18px;
	letter-spacing: .8px;
	text-transform: uppercase;
	}	
	h4 {
		color:#808080;
		font-size:16px;
		float:left;
		width:100%;
		}
	.highlight {
		font-color: #FF6653;
		}
}	

.highlight {
	display: inline;
	text-transform: uppercase;
}

.tooltip-link {
	color:#929292;
}

@import "mobile";
//@import "mapbox";

