
$max-width : 1080px;
$max-width-wide : 1920px;
$padding : 25px;
$mobile-padding : 20px;
$mobile-max-width : 768px;
$tablet-min-width : 768px;
$tablet-max-width : 950px;

/*type color variables */

$headerbgcolor : transparent;
$headercolor : #000;
$lightgrey0 : #666666;
$lightgrey : #333333;
$lightgrey1 : #afafaf;
$lightgrey2 : #F0F0F0;
$lightgrey3 :  #f5f5f5;
$bodytype : #1a1a1a;

/*border color variables */

$border-lightgrey : #d6d6d6;
$border-darkgrey : #333333;

/*type size variables */

$smalltype : 12px;
$Lighttype : 12px;
$defaulttype : 16px;
$largetype1 : 20px;
$largetype2 : 30px;
$largetype3 : 36px;
$largetype4 : 64px;



@import "functions";
@import "grid";
// @import "tiny-autocomplete";

@font-face {
	font-family: 'DINNextLTProLight';
	src: url('/fonts/DINNextLTPro-Light.eot');
	src: url('/fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINNextLTPro-Light.woff') format('woff'),
		url('/fonts/DINNextLTPro-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DINNextLTProLight';
	src: url('/fonts/DINNextLTPro-Light.eot');
	src: url('/fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINNextLTPro-Light.woff') format('woff'),
		url('/fonts/DINNextLTPro-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

@font-face {
	font-family: 'DINNextLTProLight';
	src: url('/fonts/DINNextLTPro-Light.eot');
	src: url('/fonts/DINNextLTPro-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINNextLTPro-Light.woff') format('woff'),
		url('/fonts/DINNextLTPro-Light.ttf') format('truetype');
	font-weight: 500;
	font-style: normal;
}

@font-face {
	font-family: 'DINNextLTProUltraLight';
	src: url('/fonts/DINNextLTPro-UltraLight.eot');
	src: url('/fonts/DINNextLTPro-UltraLight.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINNextLTPro-UltraLight.woff') format('woff'),
		url('/fonts/DINNextLTPro-UltraLight.ttf') format('truetype');
	font-weight: 200;
	font-style: normal;
}

@font-face {
	font-family: 'Akkurat';
	src: url('/fonts/Akkurat.eot');
	src: url('/fonts/Akkurat.eot?#iefix') format('embedded-opentype'),
		url('/fonts/Akkurat.woff') format('woff'),
		url('/fonts/Akkurat.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OfficeCodeRegular';
	src: url('/fonts/OfficeCodePro-Regular.eot');
	src: url('/fonts/OfficeCodePro-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/OfficeCodePro-Regular.woff') format('woff'),
		url('/fonts/OfficeCodePro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'OfficeCodeLight';
	src: url('/fonts/OfficeCodePro-Light.eot');
	src: url('/fonts/OfficeCodePro-Light.eot?#iefix') format('embedded-opentype'),
		url('/fonts/OfficeCodePro-Light.woff') format('woff'),
		url('/fonts/OfficeCodePro-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DINNextLTPro-MediumCond';
	src: url('/fonts/DINNextLTPro-MediumCond.eot');
	src: url('/fonts/DINNextLTPro-MediumCond.eot?#iefix') format('embedded-opentype'),
		url('/fonts/DINNextLTPro-MediumCond.woff') format('woff'),
		url('/fonts/DINNextLTPro-MediumCond.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SabonNextLT-Regular';
	src: url('/fonts/SabonNextLT-Regular.eot');
	src: url('/fonts/SabonNextLT-Regular.eot?#iefix') format('embedded-opentype'),
		url('/fonts/SabonNextLT-Regular.woff') format('woff'),
		url('/fonts/SabonNextLT-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}



// @import "plottable";
//@import "chartist";

/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, 
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: bottom;
}
table tbody > * {
	vertical-align:top;
}
h1, h2, h3, h4, h5, h6 {
	margin: 0;
	padding: 0;
	line-height:1.3 !important;
}
p {
	padding-bottom: 1em;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




body{
	font-family: 'DINNextLTProLight';
	line-height:1.5;
	color: $bodytype;
	padding-top:65px;
	padding-bottom:227px;
	position:relative;
	min-height:100vh;
	opacity:1 !important;
	@include xPrefix(transition, opacity 1s ease);
}
*{
	box-sizing: border-box;
}
p {
	line-height:1.3;
}
a {
	color:$bodytype;
	text-decoration: none;
}
.no-scroll{
	overflow: hidden;
}
.center-align{
	text-align:center;
}
.align-right {
	text-align: right;
}
.position-relative{
	position:relative;
}

.display-none{
	display:none;
}
.text-align-center{
	text-align: center;
}
.text-align-right{
	text-align:right;
}
.hide-on-desktop{
	display:none;
}





.header {

	display: flex;
	// justify-content : flex-start;
	#site-title{
	}
	nav{
		flex: 1;
		order: 2;
		a{
			margin-left: 30px;
		}
		a:hover {
			color:#142ad1;
		}
	}
	#citySearch{
		order: 3;
		margin-left: auto;
		// align-self: flex-end;
	}
	position: fixed;
	width:100%;
	top:0px;
	font-size:$defaulttype;
	color:$headercolor;
	padding: 20px $padding;

	background-color: transparent;
/* 	border-bottom: 1px solid $lightgrey; */
	z-index:9999;
	a {
		font-family: Akkurat;
		color: $headercolor;
	}
}

footer {
	font-family: "DINNextLTProUltraLight";
	background-color:#000;
	color:#9C9C9C;
	line-height: 1.6;
	padding:30px 0 30px 0;
	position:absolute;
	bottom:0;
	width:100%;
	left:0px;
	p {
		font-size: 16px;
	}
	a {
		color:#9C9C9C;
		cursor: pointer;
		text-decoration: none;
	}
	img {
		padding-bottom: 15px;
		max-width:100%;
	}
	ul li {
		float:left;
		padding-right:15px;
	}
}



.countryNameRow, h2.regionName {
	position: relative;
	display:block;
	font-family: "DINNextLTProUltraLight";
	font-size: $defaulttype;
	padding:10px 0;
	width:100%;
}
h2.countryName {
	border-top:1px solid #ccc;
}



.cityNav {
	position:absolute;
	bottom:10px;
	ul {
	margin-right:51px;
	float: left;
	margin-bottom: 10px;
	}
	li {
	list-style-type:none;
	margin:0 10px 8px 0;
	float:left;
	}
	a {
	color:#fff;
	font-family:Arial;
	font-size:$smalltype;
	text-transform: uppercase;
	padding: 6px 12px;
	background: transparent;
	border: 1px solid rgba(255,255,255,.5);
	cursor: pointer;
	}
	a:hover {
	background:rgba(255,255,255,0.1);
	}
}


#cityList {
	padding-top:20px;
	ul.list{
		list-style-type: none;
		@include xPrefix(columns, 3);
	}
}
@for $i from 1 through 8{
	.region-#{$i} .region{
		display:block;
	}
	.region-#{$i} ~ .region-#{$i} .region{
		display:none;
	}
}



table th{
	cursor: pointer;
}

.h1{
	font-size:$largetype4;
	line-height: 1.1;
	font-family:"Helvetica";
	color:#fff;
}

h1#site-title {
	font-family: "Akkurat";
	font-size:$defaulttype;
}

.h2{
	font-family:"DINNextLTProLight";
	font-size:$largetype2;
}

.cityHeader{

	padding-top:20px;
	position:relative;
	min-height:calc(100vh - 65px);
	background-repeat: no-repeat;
	color:#fff;
	background-position: center center;
	background-size:cover;
	background-repeat: no-repeat;
	&::before{
		content : "";
		position:absolute;
		top:0px;
		left:0px;
		width:100%;
		height:100%;
		background: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0.8));	
	}
	.countryNameRow{
		> *{
			display: inline-block;
		}
		.flag {
			img{
				margin-right:10px;
				width:35px;
			}
		}	
	}
	.citySummaryTable {
		font-size:$largetype3;
		font-family:"DINNextLTProUltraLight";
	}

	.statLabel {
		font-size:$smalltype;
		text-transform: uppercase;
	}

	.statValue {
		margin-bottom: 20px;	
		line-height: 1.1;
	}
}

.anchorPoint{
	position:relative;
	top:-85px;
}


.cityImage img {
	width:100%;
}

.graphSection {
	padding-bottom:180px;
}

.graphMainContainer {
	background-color: $lightgrey3;
}

.sectionHeader {
	font-size:$largetype3;
	font-family:"DINNextLTProUltraLight";
	border-bottom: 1px solid $lightgrey1;
	padding-top:20px;
	text-align: center;
}

.sectionSubHeader {
	margin-bottom: .5em;
}

h3.sectionSubHeader {
	font-size:$largetype2;
	font-family: "DINNextLTProUltraLight";
}

.graphSection p {
	font-family: "SabonNextLT-Regular";
	color:$lightgrey1;
}
.switchYear{
	cursor: pointer;
	&.activeYear{
		font-weight: bold;
		background-color: #ededed;
	}
}
.years {
	position:absolute;
	font-size: 14px;
}
.years span{
	background-color: #dbdbdb;
	margin-right: 6px;
	padding: 4px 8px;
}
.legend-ul{
	padding-left:20px;
	margin-top:32px;
	li{
		font-size:12px;
		position:relative;
	}
	.legend-click{
		display:inline-block;
	    width: 10px;
	    height: 10px;
	    margin: 0 5px;
	    position: absolute;
	    left: -20px;
	    margin-top: -7px;
	    top: 50%;
	}
	
}
.city-map{
	background-color: black;
	height:400px;
}
.year-switch-graphic{
	margin-bottom:32px;
}
.city-graphic{

	// padding-right:100px;
	// &.no-legend{
	// 	padding-right:0px;
	// }
	// position:relative;
	// background-color: $lightgrey;
	// padding:20px;
	// min-height:450px;
	// ul{
	// 	position: absolute;
	// 	z-index: 5;
	// 	right: 35px;
	// 	top: 10px;
	// 	padding: 5px;
	// 	background-color: white;
	// }
}





#density_change-plottable{
	width: 100%;
	height:500px;
}
#density_change-plotly{
	width:600px;
	height:500px;
}
.holder{
	#density_change-chartjs{
		width:100%;
		height:500px;
	}
}

#density_change-chartist{
	.ct-bar{
		stroke-width : 50px;
	}
}

#worldmap{
	// position:absolute;
	// top:64px;
	// bottom:0;
	// left:0;
	height:100vh;
	width:100%
}
.leaflet-control-attribution{
	// display:none;
}
.map-placeholder {
	width:100%;
	background-color:#292929;
	}




.table-label {
	padding-right:30px;
}

.tableSmallText {
	font-size:$defaulttype;
}


/* Search */

#citySearch input:focus{
    outline: none;
}
#citySearch:not(.poppedUp){
	 input#search{
	  width: 50%;
	  border: none;
	  font-size: 10pt;
	  text-align:right;
	  background-color: $headerbgcolor;
	}
}

#citySearch{
	text-align:right;
	position:relative;
	ul{
		position:fixed;
		top:0px;
		left:0px;
		width:calc(100% - #{$padding});
		height:100%;
		overflow:auto;
		margin-top:110px;
	    text-align: left;
		padding-top:32px;
	    li{
	    	padding: #{$padding/2};

		    .popup-city-city{
		    	display:inline-block;
		    	font-size:$largetype3;
		    }
	    	.popup-city-li{
	    		line-height:54px;
			    img{
			    	height:32px;
			    	display: inline;
			    	vertical-align: middle;
			    }
	    	}

	    }
	    li:hover{
	    	background-color:rgba(0,0,0,0.1);
	    }
	}
}
#citySearch .closeHolder{
	position:fixed;
	top: #{$padding/2};
	right: #{$padding/2};
	display:none;
}

#citySearch .closeCitySearch{

	width: 50px;
	height:50px;
	cursor: pointer;
	position: relative;
	overflow: hidden;

	// @include xPrefix(transform, scale(3));

	&:hover {
		&::before, &::after {
			background: grey;
		}
	}
	&::before, &::after {
		content: '';
		position: absolute;
		height: 2px;
		width: 100%;
		top: 50%;
		left: 0;
		margin-top: -1px;
		background: #000;
	}
	&::before {
		@include xPrefix(transform, rotate(45deg));
	}
	&::after {
		@include xPrefix(transform, rotate(-45deg));
	}
}
.leaflet-bottom, .leaflet-top{

}


#citySearch.poppedUp{
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(255,255,255,0.8);
    .closeHolder{
    	display:block;
    }
    input{
    	border:none;
    	padding:5px;
    	padding-top:50px;
    	padding:50px #{$padding/2} 0px;
    	width:100%;
    	font-size:$largetype4;
    	border-bottom:1px solid #000;
    	background-color:white;
    }
}

#citySearch:not(.poppedUp) ul,
#citySearch.unlisted ul{
	display:none;
}



/* Data Page */
.show-methodology{
	cursor: pointer;
	color: blue;
}
.hide-on-desktop .expansion-links{
	position:absolute;
    right: 0px;
    text-align: right;
    background-color: white;
    padding: 5px;
    border: 1px solid black;
}
#data-table{
	th:nth-of-type(0),
	th:nth-of-type(1){
		width: 30%;
	}
	th:nth-of-type(2),
	th:nth-of-type(3),
	th:nth-of-type(4){
		width:20%;
	}
	th:last-of-type{
		width:30%;
	}
	.page-holder{
		display: inline-block;
		.pagination{
			display:inline-block;
			li{
				margin:10px;
				display:inline-block;
				&.active{
					text-decoration: underline;
				}
			}
		}
	}
	.per-page{
		display:inline-block;
		line-height:44px;
		float:right;
	}
}
.show-links{
	cursor: pointer;
	position:relative;
	&::after{
		content: "";
	    width: 0px;
	    height: 0px;
	    top: 50%;
	    margin-top: -5px;
	    margin-left: 5px;
	    position: absolute;
	    border-top: 5px solid transparent;
	    border-bottom: 5px solid transparent;
	    border-left: 5px solid black;
	    @include xPrefix(transition, 500ms all ease);
	}
	&.showing-link::after{
		@include xPrefix(transform, rotate(90DEG));
	}
}

.data-table {
	width:100%;
	tr{
		position:relative;
	}
}

.data-table th, .data-table td {
	padding:5px 15px 20px 2px;
	border-bottom: 1px solid $border-lightgrey;
	text-align: left;
}




/* historical */
.historical{
	video{
		width:100%;
		height:320px;
	}
}



/* Index */
#cityList {
	padding-bottom: 100px;
	ul > div:first-of-type h3{
		padding-top:0px;
	}
	h3 {
		font-family: "Akkurat";
		font-size: $defaulttype;
		text-transform: uppercase;
		padding: 25px 0 0px 0;
	}
}

#cityList .city:hover {
	background-color:$lightgrey3;
}


/* Data Page */
.data-page a {
	color:#808080;
	}
	
/* About Page */

.about-page h1, h2, h3 {
	font-family:"DINNextLTProUltraLight" !important;
}

.about-page h4 {
	font-family: "Akkurat" !important;
}

@import "mobile";
//@import "mapbox";
