
$max-width : 960px;
$padding : 20px;
$mobile-padding : 10px;
$mobile-max-width : 767px;
$tablet-min-width : 768px;
$tablet-max-width : 950px;



@import "functions";
@import "grid";

.cityheader{
	padding-left:5px;
}



.citylist{
	padding-left:40px;
}